<!-- Keglarp Info Section -->
    <section id="keglarp" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">KegLARP</h2>
					<img src="img/swampville-pirates.jpg" class="kllogo">
                    <p class="text-muted">You have been invited to your 10 year high school reunion! GO SWAMPVILLE PIRATES! It's bound to be the social event of the season, with much wheeling and dealing and opportunities to vanquish your social rivals behind the scenes. Or maybe it'll just be a fun party at your rich AF former classmates' house. EITHER WAY hoist a glass of grog to your old mascot Toofus and prepare for a night of good, wholesome fun that will in no way, shape, or form have any unexpected surprises!</p>
                    <h3 class="text-muted">System Details To Come!</h3>
                </div>
            </div>
       </div>
    </section>
