<!-- Schedule Section -->
	<section id="schedule" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Schedule</h2>
                </div>
            </div>
            <h3 class="section-heading">Friday</h3>
			<div class="schedwrapper">
				<!-- Grid Header -->
    			<div class="schedbox item0"></div>
    			<div class="schedbox item1">Dining Table</div>
    			<div class="schedbox item2">Living Room</div>
    			<div class="schedbox item3">Sun Room</div>
    			<div class="schedbox item4">Pool Room</div>
				<!-- Times -->
    			<div class="schedbox item0">10:00</div>
    			<div class="schedbox item0">11:00</div>
    			<div class="schedbox item0">12:00</div>
    			<div class="schedbox item0">13:00</div>
    			<div class="schedbox item0">14:00</div>
    			<div class="schedbox item0">15:00</div>
    			<div class="schedbox joe-improv">Improv Workshop [Joe Gates]</div>
    			<div class="schedbox item0">16:00</div>
    			<div class="schedbox item0">17:00</div>
    			<div class="schedbox keglarp">KEGLARP</div>
    			<div class="schedbox item0">18:00</div>
    			<div class="schedbox item0">19:00</div>
    			<div class="schedbox item0">20:00</div>
    			<div class="schedbox item0">21:00</div>
    			<div class="schedbox item0">22:00</div>
    			<div class="schedbox item0">23:00</div>
    			<div class="schedbox item0">00:00</div>
    			<div class="schedbox item0">01:00</div>
            </div>
            <h3 class="section-heading">Saturday</h3>
			<div class="schedwrapper">
				<!-- Grid Header -->
    			<div class="schedbox item0"></div>
    			<div class="schedbox item1">Dining Table</div>
    			<div class="schedbox item2">Living Room</div>
    			<div class="schedbox item3">Sun Room</div>
    			<div class="schedbox item4">Pool Room</div>
				<!-- Times -->
    			<div class="schedbox item0">10:00</div>
    			<div class="schedbox item0">11:00</div>
    			<div class="schedbox chris-risen">Risen [Chris]</div>
    			<div class="schedbox item0">12:00</div>
    			<div class="schedbox jaydeb-breakfast-guild">Thy Breakfast Guild [Jaydeb]</div>
    			<div class="schedbox item0">13:00</div>
    			<div class="schedbox item0">14:00</div>
    			<div class="schedbox item0">15:00</div>
    			<div class="schedbox item0">16:00</div>
    			<div class="schedbox rhea-mansions">Mansions of Madness [Rhea]</div>
    			<div class="schedbox item0">17:00</div>
    			<div class="schedbox della-satr">Hail SATR Redux [Della]</div>
    			<div class="schedbox andy-fate">Fate Roulette [Andy]</div>
    			<div class="schedbox item0">18:00</div>
    			<div class="schedbox item0">19:00</div>
    			<div class="schedbox item0">20:00</div>
    			<div class="schedbox item0">21:00</div>
    			<div class="schedbox item0">22:00</div>
    			<div class="schedbox axel-goblins">We Be Goblins (You Be Food!) [Axel]</div>
    			<div class="schedbox item0">23:00</div>
    			<div class="schedbox item0">00:00</div>
    			<div class="schedbox item0">01:00</div>
            </div>
            <h3 class="section-heading">Sunday</h3>
			<div class="schedwrapper">
				<!-- Grid Header -->
    			<div class="schedbox item0"></div>
    			<div class="schedbox item1">Dining Table</div>
    			<div class="schedbox item2">Living Room</div>
    			<div class="schedbox item3">Sun Room</div>
    			<div class="schedbox item4">Pool Room</div>
				<!-- Times -->
    			<div class="schedbox item0">10:00</div>
    			<div class="schedbox item0">11:00</div>
    			<div class="schedbox brendan-camp">Camp Kipakriptid [Brendan]</div>
    			<div class="schedbox item0">12:00</div>
    			<div class="schedbox andy-delta">Delta Green Side Jobs [Andy]</div>
    			<div class="schedbox marshall-sign">Sign [Marshall]</div>
    			<div class="schedbox item0">13:00</div>
    			<div class="schedbox item0">14:00</div>
    			<div class="schedbox item0">15:00</div>
    			<div class="schedbox bedlam-biopunk">Meatspace Odyssey, Biopunk Runners [Bedlam]</div>
    			<div class="schedbox item0">16:00</div>
    			<div class="schedbox jaydeb-silence">Silence of the Gods [Jaydeb]</div>
    			<div class="schedbox item0">17:00</div>
    			<div class="schedbox item0">18:00</div>
    			<div class="schedbox item0">19:00</div>
    			<div class="schedbox item0">20:00</div>
    			<div class="schedbox item0">21:00</div>
    			<div class="schedbox item0">22:00</div>
    			<div class="schedbox item0">23:00</div>
    			<div class="schedbox item0">00:00</div>
    			<div class="schedbox item0">01:00</div>
            </div>
       </div>

<!--
        {% for post in site.categories.session reversed %}
            {% capture day %}{{ post.date | date: "%A" }}{% endcapture %}
            {% if day == 'Saturday' %}
                {% include schedule-day.html %}
            {% endif %}
        {% endfor %}
-->
    </section>
