<!-- Schedule Section -->
	<section id="schedule" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Schedule</h2>
                </div>
            </div>
            <h3 class="section-heading">Friday</h3>
			<div class="schedwrapper">
				<!-- Grid Header -->
    			<div class="schedbox item0"></div>
    			<div class="schedbox item1">Room 1</div>
    			<div class="schedbox item2">Room 2</div>
    			<div class="schedbox item3">Room 3</div>
    			<div class="schedbox item4">Room 4</div>
    			<div class="schedbox item5">Room 5</div>
    			<div class="schedbox item6">Room 6</div>
				<!-- Times -->
    			<div class="schedbox item0">10:00</div>
    			<div class="schedbox item0">11:00</div>
    			<div class="schedbox item0">12:00</div>
    			<div class="schedbox item0">13:00</div>
    			<div class="schedbox item0">14:00</div>
    			<div class="schedbox item0">15:00</div>
    			<div class="schedbox item0">16:00</div>
    			<div class="schedbox item0">17:00</div>
    			<div class="schedbox item0">18:00</div>
    			<div class="schedbox item0">19:00</div>
    			<div class="schedbox item0">20:00</div>
    			<div class="schedbox item0">21:00</div>
    			<div class="schedbox item0">22:00</div>
            </div>

            <h3 class="section-heading">Saturday</h3>
			<div class="schedwrapper">
				<!-- Grid Header -->
    			<div class="schedbox item0"></div>
    			<div class="schedbox item1">Room 1</div>
    			<div class="schedbox item2">Room 2</div>
    			<div class="schedbox item3">Room 3</div>
    			<div class="schedbox item4">Room 4</div>
    			<div class="schedbox item5">Room 5</div>
    			<div class="schedbox item6">Room 6</div>
				<!-- Times -->
    			<div class="schedbox item0">10:00</div>
    			<div class="schedbox item0">11:00</div>
    			<div class="schedbox item0">12:00</div>
    			<div class="schedbox item0">13:00</div>
    			<div class="schedbox item0">14:00</div>
    			<div class="schedbox item0">15:00</div>
    			<div class="schedbox item0">16:00</div>
    			<div class="schedbox item0">17:00</div>
    			<div class="schedbox item0">18:00</div>
    			<div class="schedbox item0">19:00</div>
    			<div class="schedbox item0">20:00</div>
    			<div class="schedbox item0">21:00</div>
    			<div class="schedbox item0">22:00</div>
            </div>
            <h3 class="section-heading">Sunday</h3>
			<div class="schedwrapper">
				<!-- Grid Header -->
    			<div class="schedbox item0"></div>
    			<div class="schedbox item1">Room 1</div>
    			<div class="schedbox item2">Room 2</div>
    			<div class="schedbox item3">Room 3</div>
    			<div class="schedbox item4">Room 4</div>
    			<div class="schedbox item5">Room 5</div>
    			<div class="schedbox item6">Room 6</div>
				<!-- Times -->
    			<div class="schedbox item0">10:00</div>
    			<div class="schedbox item0">11:00</div>
    			<div class="schedbox item0">12:00</div>
    			<div class="schedbox item0">13:00</div>
    			<div class="schedbox item0">14:00</div>
    			<div class="schedbox item0">15:00</div>
    			<div class="schedbox item0">16:00</div>
    			<div class="schedbox item0">17:00</div>
    			<div class="schedbox item0">18:00</div>
    			<div class="schedbox item0">19:00</div>
    			<div class="schedbox item0">20:00</div>
    			<div class="schedbox item0">21:00</div>
    			<div class="schedbox item0">22:00</div>
            </div>
       </div>

<!--
        {% for post in site.categories.session reversed %}
            {% capture day %}{{ post.date | date: "%A" }}{% endcapture %}
            {% if day == 'Saturday' %}
                {% include schedule-day.html %}
            {% endif %}
        {% endfor %}
-->
    </section>
