<!-- About Section -->
    <section id="sessions" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">One-Shot Session Details</h2>
                    <h3 class="section-subheading text-muted">Single-session RPG games run by our horde of GMs (in chronological order)</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/gates.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Improv (Joe Gates)</h4>
                                    <h4 class="subheading">Workshop, Open To All</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A pre-LARP improvisation workshop with the infamous Joe Gates!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/dnt.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>"The Hosts" (LARP GM Guild)</h4>
                                    <h4 class="subheading">Djinn & Tunic, Open To All</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">You have been invited to your 10 year high school reunion! GO SWAMPVILLE PIRATES! It's bound to be the social event of the season, with much wheeling and dealing and opportunities to vanquish your social rivals behind the scenes. Or maybe it'll just be a fun party at your rich AF former classmates' house. EITHER WAY hoist a glass of grog to your old mascot Toofus and prepare for a night of good, wholesome fun that will in no way, shape, or form have any unexpected surprises!</p>
									<ul class="list-inline small-button">
										<li><a href="https://www.facebook.com/events/1466878416761625/"><i class="fa fa-facebook"></i></a></li>
									</ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/scion.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>"Risen" (Chris)</h4>
                                    <h4 class="subheading">Scion, 1 Slot Available</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Gods are not what we thought. I don't know how to explain them aside from saying that they are the machine that runs this world. History has painted their tales for us in a million different ways. While it wasn't a lie, the stories were meant to help us understand the scale of these world powers, and NOT to humanize them.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/dnd.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>"Thy Breakfast Guild" (Jaydeb)</h4>
                                    <h4 class="subheading">D&D 5th Edition, Full</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In a small village of Podunkus, five fantasy reskins of high school stereotypes are "thrown into detention", being forced to take care of the village's dastardly goblin problem.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/roulette.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>"Fate Roulette" (Andy)</h4>
                                    <h4 class="subheading">Fate, Full</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">6 settings/genres sealed in envelopes. One is drawn randomly by die roll (d6). Once the setting is revealed, the players decided and vote on the main conflict and which side they are on. After that, 1 hour to make characters while I spend that time slapping together a plot. Then, we play.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/stars.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>"HAIL SATR REDUX" (Della)</h4>
                                    <h4 class="subheading">Fate, Full</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The Young Gods have ascended, praise their names! Unfortunately for everyone and everything involved, the God of Justice picked up a new friend: a Fallen angel in a silver coin. Six years since Heller (praise him) ascended and disappeared into his domain, six years since the Silver Star temples were burned in Afghanistan, the Silver Heresy is beginning to crop up in strange parts of the world.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/goblins.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>"We be Goblins (You be Food!)" (Axel)</h4>
                                    <h4 class="subheading">Pathfinder, Full(?)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The Licktoad goblins of Brinestump Marsh have stumbled upon a great treasure—fireworks! Yet unfortunately for them, the tribe member responsible for the discovery has already been exiled for the abhorrent crime of writing (which every goblin knows steals words from your head). To remedy this situation, the Licktoads’ leader, His Mighty Girthness Chief Rendwattle Gutwad, has declared that the greatest heroes of the tribe must venture forth to retrieve the rest of the fireworks from a derelict ship stranded in the marsh.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/chronicles.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>"Camp Kipakriptid" (Brendan)</h4>
                                    <h4 class="subheading">Chronicles of Darkness, 3-5 Slots Available</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Its a pretty typical summer camp. A little run down, a little cheesy, but you've got activities, a lake, and plenty of space to run around. Only a couple of odd things really. The first is that everyone here is either a warlock, a chupacabra, or some other kind of thing that's off-model from your packaged human. The second is that summer here never really seems to end. There's no calendars, and no one ever knows the date, but some campers have been here way longer than a couple months. The days just go on, one after another, full of outdoor fun, until eventually you realize you're never going to leave.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/cthulhu.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>"Delta Green (Side Jobs)" (Andy)</h4>
                                    <h4 class="subheading">Call of Cthulhu, Full</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Delta Green is a Top Secret organization created by the US government to combat nightmarish creatures and stop apocalyptic events. Agents use their wit, perception, insight and at times, large amounts of fire power to destroy threats against the world.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/biopunk.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>"Biopunk: A Meatspace Odyssey" (Bedlam)</h4>
                                    <h4 class="subheading">Fate, 3 Slots Available</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The popular use of inorganic materials to construct the majority of our world is an OUTLANDISH proposition, purely for academic consumption! Genetic engineering is civil engineering. Biohacking is tinkering with your vehicle. Nevermind metal alloys, electricity carried through miles of cable networks, and the sheer insanity of developing silicon transistors when neurons are there for the taking. Preposterous! What sort of civilization never learned to harness the biosystems they were given? A roadmap to the world of tomorrow is literally in the palm of your hand.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/sign.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>"Sign" (Marshall)</h4>
                                    <h4 class="subheading">Sign, 3 Slots Available</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Nicaragua in the 1970s had no form of sign language. If you were deaf, you had simple gestures with a trusted few, likely nothing more than a form of pantomime you negotiated with your family to meet basic needs. In 1977, something happened. Fifty deaf children from across the country were brought together to an experimental school in Managua. Without a shared language to express themselves, the children did the only thing they could -- they created one. In Sign, we follow a small piece of their journey.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/dnd.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>"Silence of the Gods" (Jaydeb)</h4>
                                    <h4 class="subheading">D&D 5th Edition, 1 Slot Available</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In the Glorious Empire of Starlight, the gods' servants have always reigned supreme. It was with the divine blessings that we have always crushed heathens and pagans, forcing them to acknowledge the glory of true gods, casting away their false idols. This was to last until the final days.... But yesterday, something happened. On the holy first day of the year, the gods went silent. We few chevalier had found always been considered... unconventional. We earned favor by emulating the gods, rather than worshiping through prayer and prostration. And now, only we can trek into the sunless lands, and find again the voices of our pantheon.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>End Of Con
                                    <br>You Survived!
                                    <br>Go Home!
                            </div>
                        </li>
                    </ul>
                </div>
            </div> 
        </div>
    </section>
